# Ignore everything
*

# Unignore gitignore
!.gitignore

# Unignore readme
!README.md

# Unignore cross-platform python scripts
!start_services.py
!stop_services.py
!change_permissions.py
!reset_database.py
